<nav class="navbar navbar-expand-lg sticky-top ">
        <div class="container">
            <a class="navbar-brand" href="Index.html"> <img src="assets/img/LOGO.png" class="Img" alt=""> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" id="optNavContacto" aria-current="page"
                            href="#contactenos">Cont&aacute;ctanos <i class="fa-solid fa-phone-volume"></i></a>
                    </li>
                </ul>
                <div class="input-group mb-3 w-auto pt-3">
                    <input type="text" class="form-control" placeholder="¿Qu&eacute; necesitas hoy?">
                    <span class="input-group-text bg-light" id="basic-addon2"><i
                            class="fa-solid fa-magnifying-glass"></i></span>
                </div>
                <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Mi cuenta
                        </a>
                        <ul class="dropdown-menu">
                            <li><button class="btn btn-light bg-light w-100" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Iniciar
                                    Sesion</button>

                            </li>
                            <li>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-light bg-light w-100" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Registrate
                                </button>

                                <!-- Modal -->
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " href="#">Carrito <i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
