<footer class="miFooter d-flex me-auto mb-2 mb-lg-0">
  <div class="container d-flex justify-content-between me-auto mb-2 mb-lg-0 mt-4">
      <div class="d-flex">
          <div>
              <h6>Nuestras sedes</h6>
              <ul class="list-unstyled">
                  <li>Calle 100</li>
                  <li>Calle 50</li>
              </ul>
          </div>
          <div class="d-flex ms-5">
              <h6>S&iacute;guenos</h6>
              <ul class="d-flex list-unstyled">
                  <li class="ms-2">
                      <a href="#"><i class="fa-brands fa-facebook"></i></a>
                  </li>
                  <li class="ms-2">
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  </li>
                  <li class="ms-2">
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="texto fw-bold">
          <p>Bogot&aacute;, Colombia</p>
      </div>
  </div>
